.btn {
  padding: 2.2rem 4rem;
  font-size: 2rem;
  border: none;
  background-color: var(--darker-aqua-button);
  cursor: pointer;
  border-radius: 0.2rem;
  margin: 2rem;
}

.btn:hover {
  background-color: var(--aqua-button);
}

@media (max-width: 700px) {
  .btn {
    width: 100%;
    margin: 1rem 0;
  }
}
