:root {
  --background-blue: #282c34;
  --aqua-button: rgb(1, 209, 209);
  --darker-aqua-button: rgb(1, 164, 164);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

.App {
  text-align: center;
  background-color: var(--background-blue);
  background-image: url("https://www.transparenttextures.com/patterns/diagmonds.png");
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

form {
  padding: 10rem;
}

.full-input {
  width: 100%;
  display: block;
}

input {
  outline: none;
  font-size: 2.5rem;
  padding: 1.5rem;
  text-align: center;
}

.btn {
  padding: 2.2rem 4rem;
  font-size: 2rem;
  border: none;
  background-color: var(--darker-aqua-button);
  cursor: pointer;
  border-radius: 0.2rem;
  margin: 2rem;
}

.btn:hover {
  background-color: var(--aqua-button);
}
