.app {
  text-align: center;
  background-color: var(--background-blue);
  background-image: url("https://www.transparenttextures.com/patterns/diagmonds.png");
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
